html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}
.container {
  display: flex;
  align-items: center;
  margin-left: 35rem;
}
p {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-size: 3rem;
  font-weight: 900;
  padding: 1rem;
}
.carousel {
  background-color: rgb(34, 34, 226);
  border-radius: 10px;
  color: #fff;
}
.carousel:after {
  content: 'coding';
  animation: changeWord 6s linear infinite;
}
@keyframes changeWord {
  0% {content: "coding";}
  25% {content: "music";}
  50% {content: "my wife";}
  75% {content: "my daughter";}
  100% {content: "coding";}
}

a {
  position: absolute;
  top: 1rem;
  left: 3rem;
}